.jumbotron {
  padding: 15px 0px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #e67e22;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: #444444;
	
}
.jumbotron #logo {
  position:relative;
  max-width: 8%;
}
.jumbotron h1 {
  color: #ecf0f1;
}

#firstRow {
  border-width: 3px;
  border-color: #444444;
}

#firstRow .panel-heading {
	background-color: #1abc9c;
}

#secondRow {
  border-width: 3px;
  border-color: #444444;
}

#secondRow .panel-heading {
  background-color: #1abc9c;
}

.panel-title {
	color: white;
}
